<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register form</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/register" method="POST">
        <table>
            <tr>
                <td>
                    Họ tên: <td><input type="text" name="name"></td>
                </td>
            </tr>
            <tr>
                <td>
                    Tuổi: <td><input type="text" name="age"></td>
                </td>
            </tr>
            <tr>
                <td>
                    Lương: <td><input type="text" name="salary"></td>
                </td>
            </tr>
            <tr>
                <td>
                    Địa chỉ: <td><input type="text" name="address"></td>
                </td>
            </tr>
            <tr>
                <td>
                    Nghề nghiệp: <td><input type="text" name="professional"></td>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Đăng ký"></td>
            </tr>
        </table>
    </form>
</body>
</html>